@model IEnumerable<Blog.UI.Models.DTO.PostDTO>
@{
    ViewBag.Title = "Index";
}

<h2>BLOG PAGE</h2>

<div class="row">





    <div class="col-md-8">

        @Html.Partial("_BlogList", Model)




    </div>

    @section SagKolon{



        @Html.Partial("_Search")
        @{Html.RenderAction("CategoriesList", "Categories");}

    }






</div>


